{% extends 'product/main1.html' %}

{% from 'macro.html' import tips %}

{% block title %}创建产品{% endblock %}

{% block product %}
<form method="post" action="{{ url_for('product.create') }}" enctype="multipart/form-data">
	<div>
		<label for="productname">产品名称</label>
		<input name="productname" required>
	</div>

	<div>
		<label for="brief">产品描述</label>
		<textarea name="brief"></textarea>
	</div>

	<div>
		<label for="file">上传图片</label>
		<input name="file" type="file" accept="image" required>
	</div>

	<div>
		<label for="category">产品分类</label>
		<select name="category">
			<option value='equipment'>铁屑压块机</option>
			<option value='fixture'>工装夹具</option>
			<option value='automation'>自动化设备</option>
			<option value='non_standard'>非标零件</option>
			<option value='robotics'>机器人项目</option>
		</select>
	</div>

	<input type="submit" value="保存">

</form>


{{ tips() }}

	<script>
		function findElementsByText(text, tagName = 'a') {
			const elements = document.querySelectorAll(tagName);
   			return Array.from(elements).filter(element => 
    			        element.textContent.includes(text)
   		 	);
		}

		const elements = findElementsByText('新增');
		{% if g.user['applist'] %}
			{% if '1' in g.user['applist'] %}
				elements.forEach(el => {
						        el.style.color = 'blue'; // 高亮显示
							el.style.textDecoration = 'underline'
				});
			{% else %}
			elements.forEach(el => {
				el.style.display = 'none'
			})
			{% endif %}
		{% endif %}
	</script>
{% endblock %}
