{% extends 'base.html' %}

{% from 'macro.html' import side_bar_imag %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}

{% block content %}
	<div class="block first-column">
		<div class="sector">
			<div class="sector-title">
				<p>{{ _('产品类别') }}</p>

				{% if g.user %}
					{% if g.user['applist'] %}
					{% if '1' in g.user['applist'] %}
					<a id="add-new-product" class="blue link" href="{{ url_for('product.create') }}">新增</a>
					{% endif %}
					{% endif %}
				{% endif %}
			</div>

			<div class="sector-content">
				<a href="{{ url_for('product.non_standard') }}">
					<img src="{{ url_for('static', filename='images/arrow-narrow-right-dashed.svg') }}" class="corner-down-right">
					{{ _('非标零件') }}</a>
				<hr>
				<a href="{{ url_for('product.fixture') }}">
					<img src="{{ url_for('static', filename='images/arrow-narrow-right-dashed.svg') }}" class="corner-down-right">
					{{ _('工装夹具') }}</a>
				<hr>
				<a href="{{ url_for('product.automation') }}">
					<img src="{{ url_for('static', filename='images/arrow-narrow-right-dashed.svg') }}" class="corner-down-right">
					{{ _('自动化设备') }}</a>
				<div class="automation-subclass">
					<a href="{{ url_for('product.automation') }}?class=engine&page=1">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('发动机') }}
					</a>
					<hr>
					<a href="{{ url_for('product.automation') }}?class=transmission&page=1">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('变速箱') }}
					</a>
					<hr>
					<a href="{{ url_for('product.automation') }}?class=steeringGear&page=1">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('转向器') }}
					</a>
					<hr>
					<a href="{{ url_for('product.automation') }}?class=assemblyShop&page=1">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('总装车间') }}
					</a>
					<hr>
					<a href="{{ url_for('product.automation') }}?class=automobileBearings&page=1">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('汽车轴承') }}
					</a>
					<hr>
				</div>
			</div>
		</div>

		{{ side_bar_imag() }}
	</div>

	<div class="block">
		<div class="dblock">
			<div class="dblock-title">
				<img src="{{ url_for('static', filename='images/direction-sign.svg') }}">
				<p>&nbsp; {% block title %}{% endblock %}</p>

				{%- if request.endpoint == 'product.fixture' %}
				<div class="fixture-filter-buttons">
					<p>:</p>
					<a class="filter-btn {% if current_class=='engine' %}active2{% endif %}" href="?class=engine&page=1">发动机</a>
					<a class="filter-btn {% if current_class=='transmission' %}active2{% endif %}" href="?class=transmission&page=1">变速箱</a>
					<a class="filter-btn {% if current_class=='steeringKnuckle' %}active2{% endif %}" href="?class=steeringKnuckle&page=1">转向节</a>
					<a class="filter-btn {% if current_class=='assemblyShop' %}active2{% endif %}" href="?class=assemblyShop&page=1">总装车间</a>
					<a class="filter-btn {% if not current_class %}active2{% endif %}" href="?page=1">显示全部</a>
				</div>

				{%- endif %}

			</div>
		
			<div class="dblock-content product-page">
				{% for product in products %}
					<a href="{{ url_for('product.display', id=product['id']) }}" class="product-item" data-class="{{ product['class'] if product['class'] is defined else '' }}">
						<img src="{{ url_for('instance_files', filename=product['filename']) }}">
						<p>{{ product['id'] }} {{ product['productname'] }}</p>
					</a>
				{% endfor %}
			</div>
			
			<div class="product-nav">
				{%- set cls = current_class if current_class is defined and current_class else None -%}
				<a href="?page={{ page - 1 }}{% if cls %}&class={{ cls }}{% endif %}" class="{% if page == 1 %}hide{% endif %}">{{ _('上一页') }}</a>

				{% for p in range(1, total_pages + 1) %}
					<a href="?page={{ p }}{% if cls %}&class={{ cls }}{% endif %}">{{ p }}</a>
				{% endfor %}

				<a href="?page={{ page + 1 }}{% if cls %}&class={{ cls }}{% endif %}" class="{% if page == total_pages %}hide{% endif %}">{{ _('下一页') }}</a>
			</div>
		</div>
	</div>

{% endblock %}
