{% extends 'base.html' %}

{% from 'macro.html' import side_bar_imag %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename="css/product.css") }}">
{% endblock %}

{% block content %}
	<div class="ablock">
		<div class="bblock" id="first-column">
			<div class="cblock">
				<div class="cblock-title">
					<p>{{ _('产品类别') }}</p>

					{% if g.user %}
						{% if g.user['applist'] %}
						{% if '1' in g.user['applist'] %}
						<a id="add-new-product" class="blue link" href="{{ url_for('product.create') }}">新增</a>
						{% endif %}
						{% endif %}
					{% endif %}
				</div>

				<div class="cblock-content">
					<a href="{{ url_for('product.equipment') }}">▶&nbsp; {{ _('铁屑压块机') }}</a>
					<hr>
					<a href="{{ url_for('product.fixture') }}">▶&nbsp; {{ _('工装夹具') }}</a>
					<hr>
					<a href="{{ url_for('product.automation') }}">▶&nbsp; {{ _('自动化设备') }}</a>
					<hr>
					<a href="{{ url_for('product.non_standard') }}">▶&nbsp; {{ _('非标零件') }}</a>
					<hr>
					<a href="{{ url_for('product.robotics') }}">▶&nbsp; {{ _('机器人项目') }}</a>
					<hr>
				</div>
			</div>

			{{ side_bar_imag() }}
		</div>

		<div class="bblock" id="second-column">
			<div class="dblock">
				<div class="dblock-title">
					<p>➡️&nbsp; {% block title %}{% endblock %}</p>
				</div>	
			
				<div class="dblock-content product-page">
					{% for product in products %}
						<a href="{{ url_for('product.display', id=product['id']) }}">
							<img src={{ url_for('instance_files', filename=product['filename']) }}>
							<p>{{ product['id'] }} {{ product['productname'] }}</p>
						</a>
					{% endfor %}
				</div>
				
				<div class="product-nav">
					<a href="?page={{ page - 1 }}" class="{% if page == 1 %}hide{% endif %}">{{ _('上一页') }}</a>

					{% for p in range(1, total_pages + 1) %}
						<a href="?page={{ p }}">{{ p }}</a>
					{% endfor %}

					<a href="?page={{ page + 1 }}" class="{% if page == total_pages %}hide{% endif %}">{{ _('下一页') }}</a>
				</div>
			</div>
		</div>
	</div>	

{% endblock %}
