{% extends 'product/main1.html' %}

{% from 'macro.html' import tips %}

{% block title %}编辑产品{% endblock %}

{% block product %}
<form method="post" action="{{ url_for('product.update', id=product['id'], next=request.args.get('next')) }}" enctype="multipart/form-data">
	<div>
		<label for="productname">产品名称</label>
		<input name="productname" value="{{ product['productname'] }}" required>
	</div>

	<div>
		<label for="brief">产品描述</label>
		<textarea name="brief">{{ product['brief'] }}</textarea>
	</div>

	<div>
		<label for="file">上传图片</label>
		<input name="file" type="file" accept="image">
	</div>

	<div>
		<label for="category">产品分类</label>
		<select name="category">
			<option value='equipment' {% if product['category']=='equipment' %}selected{% endif %}>铁屑压块机</option>
			<option value='fixture' {% if product['category']=='fixture' %}selected{% endif %}>工装夹具</option>
			<option value='automation' {% if product['category']=='automation' %}selected{% endif %}>自动化设备</option>
			<option value='non_standard' {% if product['category']=='non_standard' %}selected{% endif %}>非标零件</option>
			<option value='robotics' {% if product['category']=='robotics' %}selected{% endif %}>机器人项目</option>
		</select>
	</div>

	<div>
		<label for="class">工装夹具子类别</label>
		<select name="class">
			<option value="engine" {% if product['class']=='engine' %}selected{% endif %}>发动机</option>
			<option value="transmission" {% if product['class']=='transmission' %}selected{% endif %}>变速箱</option>
			<option value="steeringKnuckle" {% if product['class']=='steeringKnuckle' %}selected{% endif %}>转向节</option>
			<option value="assemblyShop" {% if product['class']=='assemblyShop' %}selected{% endif %}>总装车间</option>
			<option value="steeringGear" {% if product['class']=='steeringGear' %}selected{% endif %}>转向器</option>
			<option value="automobileBearings" {% if product['class']=='automobileBearings' %}selected{% endif %}>汽车轴承</option>
		</select>
	</div>

	<input type="submit" value="保存">
</form>

{{ tips() }}

	<script>
		function findElementsByText(text, tagName = 'a') {
			const elements = document.querySelectorAll(tagName);
   			return Array.from(elements).filter(element => 
    			        element.textContent.includes(text)
   		 	);
		}

		const elements = findElementsByText('新增');
		elements.forEach(el => {
		        el.style.color = 'blue'; // 高亮显示
			el.style.textDecoration = 'underline'	
		});
	</script>

{% endblock %}
