{% extends 'base.html' %}

{% from 'macro.html' import side_bar_imag %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
{% endblock %}

{% block content %}
	<div class="block" id="first-column">
		<div class="sector">
			<div class="sector-title">
				<p>{{ _('在线留言') }}</p>
			</div>

			<div class="sector-content">
				<a href="{{ url_for('message.mailbox') }}">
					<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
					{{ _('信箱') }}</a>					
			</div>

		</div>

		{{ side_bar_imag() }}
	</div>

	<div class="block" id="second-column">
		<div class="dblock">
			<div class="dblock-title">
				<img src="{{ url_for('static', filename='images/direction-sign.svg') }}">
				<p>&nbsp; {% block title %}{% endblock %}</p>

				{% block leave_message %}{% endblock %}
			</div>
		
			
			<div class="dblock-content">
				{% block message %}{% endblock %}
			</div>
		</div>	
	</div>
{% endblock %}

