{% extends 'base.html' %}

{% block title %}{{ _('用户登陆') }}{% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.register {
			display: inline-block;
			margin-top: 1rem;
		}
	</style>
{% endblock %}

{% block content %}
<div>
	<h2>{{ _('用户登陆') }}</h2>

	<form method="post">
		<label for="username">{{ _('用户名') }}</label>
		<input name="username" required>

		<label for="password">{{ _('密码') }}</label>
		<input name="password" type="password" required>

		<input type="submit" value="{{ _('登陆') }}">
	</form>

	<a href="{{ url_for('auth.register') }}" class="bold steelblue register">{{ _('注册新用户') }}</a>

	{% for message in get_flashed_messages() %}
	<p>{{ message }}</p>
	{% endfor %}
</div>
{% endblock %}

