{% extends 'home/main.html' %}
{% from 'macro.html' import para %}

{% block title %}{{ _('公司简介') }}{% endblock %}

{% block home %}
		<div class="dblock-content">
			<h2>{{ _('公司简介') }}</h2>

			{{ para(_('广州东振机电设备有限公司:是一家集设计、制造、销售为一体的企业，长期致力于现代化工厂自动化设备的
研究与制造。主要产品为:工装夹具、非标设备及非标配件。产品广泛应用于汽车、制冷、机械电子等行业，为众
多企业高效的生产提供了技术支持！')) }}
			{{ para(_('公司拥有一流的精密生产设备，采用先进的管理方式、严格的检验程序，保证每一个产品符合客户的要求。
我们秉承“诚信经营质量为本”的经营理念，“追求卓越用心服务”的宗旨，为您追求高效益服务！在平稳、踏实中求
发展。产品主要销于国内知名企业：如瑞智、美的、格力、三菱、日立、本田、丰田、日产及其配套厂家等。')) }}
			{{ para(_('我们始终承诺把客户的满意度放在首位，交付满意的产品，提高高度整合的技术方案和优良品质的产品，使客
			户获得最佳的投资回报是我们永恒的追求。')) }}

			<h2>{{ _('经营范围') }}</h2>

			{{ para(_('设计、制造、销售各种工装夹具、检具及非标零配件')) }}
			{{ para(_('自动化装配设备、机加设备及各种辅助设备的设计与制造')) }}
			{{ para(_('承接各种自动化生产线设计、安装、调试')) }}
			{{ para(_('设计、制造搬运机器人系统、涂胶机器人系统')) }}
		</div>
{% endblock %}
