{% extends 'home/main.html' %}

{% block title %}{{ _('员工风采') }}{% endblock %}

{% block home %}
	<div class="block style-content">
		<h3>{{ _('东振公司十周年庆旅游活动--海洋王国@台山川岛之旅') }}</h3>

		<img src='/static/images/about-style-0.jpg'>

		<img src='/static/images/about-style-1.jpg'>

		<img src='/static/images/about-style-2.jpg'>
		
		<img src='/static/images/about-style-3.jpg'>

		<img src='/static/images/about-style-4.jpg'>

		<img src='/static/images/about-style-5.jpg'>

		<img src='/static/images/about-style-6.jpg'>

		<img src='/static/images/about-style-7.jpg'>
		
		<img src='/static/images/about-style-8.jpg'>

		<h3>{{ _('2009年东振公司元旦游园活动') }}</h3>

		<img src='/static/images/about-style-9.jpg'>

		<h3>{{ _('2009年东振公司安全演练') }}</h3>

		<img src='/static/images/about-style-10.jpg'>

		<h3>{{ _('2009年东振公司元旦游园活动') }}</h3>

		<img src='/static/images/about-style-11.jpg'>

	</div>	
{% endblock %}
