.content {
	display: flex;
	gap: 19px;
	width: 950px;
}

.block {
	display: inline-block;
}

.first-column {
	width: 175px;
}

.second-column {
	width: 540px;
}

.third-column {
	width: 187px;
}

.sector {
	width: 100%;
	margin-bottom: 15px;
}

.sector-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 35%, #d6dfe3);
	border-bottom: 1px solid #A6A6A6;
	height: 23px;
	font-weight: bold;
	padding: 0 15px;
}

.sector-content {
	padding: 25px 20px;
	border: 1px solid #d6dfe3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sector-content a {
	color: steelblue;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
	display: block;
	padding-left: 10px;
}

.index-image-building {
	display: inline-block;
	width: auto;
}

.index-image-building-sector {
	display: flex;
	gap: 20px;
}

.index-image-building-sector img {
	width: auto;
}


.dblock {
	width: 755px;
	margin-bottom:15px;
}

.dblock-title {
	display: flex;
	justify-content: left;
	border-bottom: 1px solid #A6A6A6;
	height: 20px;
	font-weight: bold;
}

.dblock-title img {
	width: auto;
}

.dblock-content {
	padding: 20px;
	font-size: 14px;
}

.dblock-content p {
	line-height: 25px;
}

.dblock-content h2 {
	margin-bottom: 10px;
}

hr {
	border: 0.1px dashed #A6A6A6;
	width: 120px;
}

.dblock-imag-small {
	width: 300px;
	height: auto;
}

#sector-contact-title {
	margin-top: 10px;
}

#sector-contact {
	padding: 15px 5px;
	font-size: 12px;
	border: 1px solid #d6dfe3;
	margin-bottom: -14.5px;
}

#sector-contact div {
	display: flex;
	align-items: center;
	padding-left: 7px;
}

#sector-contact img {
	width: 10px;
	height: 10px;
	padding-right: 7px;
}

#tips {
	padding-top: 20px;
}

.corner-down-right {
	width: 15px;
}
