.sector-content-product {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px 15px;
	text-align: center;
}	

.sector-content-product img {
	width: 100%;
	height: 100px;
}

.style-content img {
	width: 100%;
}