.sector-content-product {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px 15px;
	text-align: center;
}	

.sector-content-product img {
	width: 100%;
	height: 100px;
}

.style-content img {
	width: 100%;
}

.employee-entrance {
	display: block;
	margin-top: 5px;
	text-align: right;
}

.automation-subclass {
	margin-top: 10px;
	margin-left: 20px;
	width: fit-content;
}

.automation-subclass hr {
	width: 120%;
	margin-left: 10px;
}