textarea {
	width: 500px;
	height: 200px;
}

.product-page {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px 10px;
	text-align: center;
	padding-bottom: 40px;
}

.product-page img {
	width: 100%;
	height: 200px;
}	

.product-nav {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.hide {
	display: none;
}

#display_edit {
	display: block;
}

.product-image {
	width: auto;
	max-width: 100%;
}

.fixture-filter-buttons p {
	display: inline;
	margin: 0;
	padding: 0;
}

.automation-subclass {
	margin-top: 10px;
	margin-left: 20px;
	width: fit-content;
}

.automation-subclass hr {
	width: 120%;
	margin-left: 10px;
}
.product-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 20px auto;
	width: fit-content;
}

.product-form > div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.product-form .description-item {
	align-items: flex-start;
}

.product-form label {
	min-width: 100px;
	font-weight: bold;
	text-align: right;
}

.product-form input:not([type="submit"]), .product-form select, .product-form textarea {
	padding: 5px;
	width: 400px;
}

.product-form input[type="submit"] {
	width: fit-content;
	margin-left: 110px; /* Aligns with input field */
	padding: 5px 20px;
}
