.staffs-block {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	background: #778899;
}

.staff-item {
	display: inline;
	font-size: 17px;
	margin: 3px 3px;
	cursor: pointer;
	user-select: none;
}

.day-block {
	background: #B0C4DE;
	padding: 5px 6px;
}

.day {
	background: #E6E6FA;
	color: black;
	padding: 2px 0;
}

.day-control {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 10px;
}
