{% extends 'base.html' %}

{% from 'macro.html' import side_bar_imag %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename="css/human.css") }}">
{% endblock %}

{% block content %}
	<div class="ablock">
		<div class="bblock" id="first-column">
			<div class="cblock">
				<div class="cblock-title">
					<p>{{ _('人力资源') }}</p>

					{% if g.user %}
						{% if g.user['applist'] %}
						{% if '2' in g.user['applist'] %}
						<a class="blue link" href="{{ url_for('human.create_position') }}">{{ _('新增') }}</a>
						{% endif %}
						{% endif %}
					{% endif %}
				</div>

				<div class="cblock-content">
					<a href="{{ url_for('human.hire') }}">▶&nbsp; {{ _('人才招聘') }}</a>					
					<hr>
					<a href="{{ url_for('human.idea') }}">▶&nbsp; {{ _('人才理念') }}</a>
				</div>

			</div>


			{{ side_bar_imag() }}
		</div>

		<div class="bblock" id="second-column">
			<div class="dblock">
				<div class="dblock-title">
					<p>➡️&nbsp; {% block title %}{% endblock %}</p>
				</div>
			
				
				{% block human %}{% endblock %}
			</div>	
		</div>
	</div>


{% endblock %}

