{% extends 'base.html' %}

{% from 'macro.html' import side_bar_imag %}

{% block content %}
	<div class="block first-column">
		<div class="sector">
			<div class="sector-title">
				<p>{{ _('经典案例') }}</p>
			</div>
			<div class="sector-content">
				<!-- 内容已清空 -->
			</div>
		</div>

		{{ side_bar_imag() }}
	</div>

	<div class="block" id="second-column">
		<div class="dblock">
			<div class="dblock-title">
				<img src="{{ url_for('static', filename='images/direction-sign.svg') }}" loading="lazy">
				<p>&nbsp; {{ _('经典案例') }}</p>
			</div>
			
			<div class="dblock-content">
				<!-- 内容已清空 -->
			</div>
		</div>	
	</div>
{% endblock %}
