{% extends 'base.html' %}

{% from 'macro.html' import side_bar_imag %}

{% block content %}
	<div class="ablock">
		<div class="bblock" id="first-column">
			<div class="cblock">
				<div class="cblock-title">
					<p>{{ _('关于我们') }}</p>
				</div>

				<div class="cblock-content">
					<a href="{{ url_for('about.introduction') }}">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('公司简介') }}</a>					
					<hr>
					<a href="{{ url_for('about.history') }}">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('公司历程') }}</a>
					<hr>
					<a href="{{ url_for('about.organization') }}">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('机构组织') }}</a>
					<hr>
					<a href="{{ url_for('about.strategy') }}">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('发展战略') }}</a>
					<hr>
					<a href="{{ url_for('about.performance') }}">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('公司业绩') }}</a>
					<hr>
					<a href="{{ url_for('about.style') }}">
						<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
						{{ _('员工风采') }}</a>
				</div>

			</div>


			{{ side_bar_imag() }}
		</div>

		<div class="bblock" id="second-column">
			<div class="dblock">
				<div class="dblock-title">
					<img src="{{ url_for('static', filename='images/direction-sign.svg') }}">
					<p>&nbsp; {% block title %}{% endblock %}</p>
				</div>
			
				
				{% block about %}{% endblock %}
			</div>	
		</div>
	</div>


{% endblock %}

