{% extends 'base.html' %}

{% from 'macro.html' import side_bar_imag %}

{% block content %}
	<div class="block first-column">
		<div class="sector">
			<div class="sector-title">
				<p>{{ _('联系我们') }}</p>
			</div>

			<div class="sector-content">
				<a href="{{ url_for('contact.contact_us') }}">
					<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
					{{ _('联系我们') }}</a>					
				<hr>
				<a href="{{ url_for('contact.location') }}">
					<img src="{{ url_for('static', filename='images/corner-down-right.svg') }}" class="corner-down-right">
					{{ _('地理位置') }}</a>
			</div>

		</div>


		{{ side_bar_imag() }}
	</div>

	<div class="block">
		<div class="dblock">
			<div class="dblock-title">
				<img src="{{ url_for('static', filename='images/direction-sign.svg') }}">
				<p>&nbsp; {% block title %}{% endblock %}</p>
			</div>
		
			
			{% block contact %}{% endblock %}
		</div>	
	</div>
{% endblock %}

